<h1>TEST </h1>

<form action="/github/index">
  ENTER A GITHUB USERNAME (u can use mine: harryy88):<br>
  <input type="text" name="id" value="Mickey">
  <br>
  <input type="submit" value="Submit">
</form> 